body { box-sizing:border-box;
       text-align:center;}

 


p { text-align: center;

    font: 440 16px/28px Roboto,sans-serif;

  }


.contenedor{        
        margin: auto;
        background:cyan;
        border-radius:2%;
        border: 15px solid hotpink;/*color a los bordes del contenedor*/
        box-shadow: 12px 12px 25px #000;/*sombras al div*/
        border-style:outset;        
        width:96%;

        }


.entrada {
     top:25px;
     position:absolute;
     text-align:left;
        }
.salida {
      text-align:right;
      margin:95%;
      padding:95%;
       }
#startAndStop{
           margin: auto;
           align:center;
           overflow:hidden;
           /*background:url(perro.png);*/
            }
video{
      margin: auto;
      width:50%;
      height:30%;
      }
canvas{
       margin:auto;
       width:90%;
       height:70%;
       }

.code{     
     background:white;
     width:90%;
     border-radius:5%;
     border-style:outset;/*estilizamos el borde*/
     box-shadow: 12px 12px 15px teal;/*Sombras*/
     }
.control{
      background:coral;
      width:auto;
      border: 2px solid blue;

      border-radius:10%;
      border-style:outset;/*estilizamos los bordes*/
      border: 10px solid brown;/*color y grosor de los bordes*/
       
}
.err {

     color: red;

     font-weight: bold;

     }

.texto{

    text-wrap: unrestricted;

    padding: 0px;

    margin:5px;

      }


 /*producimos un acercamineto de los link*/

button:hover,button:focus{
        border-radius: 50%;
        border: thick solid yellow;
        color:rgb(5, 5, 1);
        background:rgb(165, 162, 194);
        -moz-box-shadow:10px 10px 7px rgba(0,0,0,.7);
        -webkit-box-shadow: 10px 10px 7pxrgba(0,0,0,.7);
        box-shadow:10px 10px 7px rgba(0,0,0,.7);
        -webkit-transform: scale(1.25);
        -moz-transform: scale(1.25);
        -o-transform: scale(1.25);
        }




button {
    
    width:40%;

    padding: 6px 12px;

    margin-bottom: 5px;

    font-size: 17px;

    font-weight: bold;


    text-align: center;

    white-space: nowrap;

    vertical-align: middle;

    -ms-touch-action: manipulation;

    touch-action: manipulation;

    cursor: pointer;

    -webkit-user-select: none;

    -moz-user-select: none;

    -ms-user-select: none;


     
    box-shadow: 12px 12px 18px pink;/*sombras a el boton*/

    
    }



button[disabled] {

    cursor: not-allowed;

    filter: alpha(opacity=75);

    -webkit-box-shadow: none;

    box-shadow: none;

    opacity: .55;
}


